<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.AddressMapper">
    <insert id="add"
            parameterType="org.example.pojo.Address"
            useGeneratedKeys="true"
            keyProperty="addressId">
        INSERT INTO address (province, city, district, detail)
        VALUES (#{province}, #{city}, #{district}, #{detail})
    </insert>
    <select id="findAll" resultType="org.example.pojo.Address">
        SELECT address_id, province, city, district, detail FROM address
    </select>
</mapper>
